.navbar {
  width: 265px;
}
.container-fluid {
  height: 100vh;
}
.navbar > .container-fluid {
  flex-direction: column;
}
.navbar-toggler {
  position: absolute;
  top: 0;
  right: -58px;
}
.offcanvas-body {
  flex-direction: column;
}
.navbar-nav {
  margin-bottom: 9px;
}
