.background {
  background-image: linear-gradient(
    90deg,
    rgba(221, 220, 220, 0.082),
    rgb(230, 230, 230),
    rgb(252, 252, 252)
  );
}
.ani-back {
  width: 100%;
  height: 100%;
  position: relative;
}
.ani-back img {
  height: 100%;
  object-fit: contain;
  max-width: -webkit-fill-available;
}
.car-img {
  /* width: 100%; */
  position: absolute;
  top: 30%;
  left: 18%;
  display: inline-block;
}
.car-img img {
  display: inline-block;
  width: 80%;
  object-fit: initial;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 100%;
  flex-direction: column;
}
.contain .time {
  display: flex;
  flex-direction: column;
  background-color: #000000fa;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  padding: 10px;
  color: white;
}
.block {
  display: block;
  padding: 10px 10px 10px 0;
}
.social {
  background-color: #e3e3e38f;
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
}
.box img {
  width: 40px;
}
@media screen and (max-width: 1108px) {
  .fix {
    justify-content: center;
    /* align-items: stretch; */
  }
}
@media screen and (min-width: 1449px) {
  .fix {
    padding: 0 20px;
    /* align-items: stretch; */
  }
}
